{{> projectnav}}
<div class="page-content-wrapper-fluid">
    <div class="container-fluid">
        <div class="container-fluid backdrop-dash">
            <div class="dash-container col-12 col-md-10" style="align-items: center">

                <h2 class="dash-header p-2">Kanban Board</h2>

                <button type="button" class="btn btn-primary create-task" style="float: right; height:fit-content">Create Task</button>

                {{#if project.Tasks}}
                <div style="display:flex; width: 100%">

                    <div class="col-3">
                        
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">Not Started</h4>
                        </div>
                        
                        <div class="p-2">
                            
                            <!-- Loop through each task, if status is Not started (0), then make the card-->
                            {{#each project.Tasks}}
                                {{#ifvalue status equals= 0}}
                                    <div class = "p-1">

                                        <div class="kanban-card-holder">
                                            <button class="kanban-card task-button bg-not-started" data-taskid="{{taskID}}">
                                                <h6 style="color:#333333;">{{name}}</h6> <!-- Reference the task name -->
                                            </button>
                                        </div>
                                    </div>
                                {{/ifvalue}}
                            {{/each}}

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">In Progress</h4>
                        </div>

                        <div class="p-2">
                            {{#each project.Tasks}}
                                {{#ifvalue status equals= 1}}
                                    <div class = "p-1">

                                        <div class="kanban-card-holder">
                                            <button class="kanban-card task-button bg-in-progress" data-taskid="{{taskID}}">
                                                <h6 style="color:#333333;">{{name}}</h6>
                                                <p style="color:#333333;">{{timeLogged}}</p>
                                                <div class="progress" style="height: 15px;">
                                                    <div class="progress-bar progress-bar-striped" style ="width:{{progress}}%">{{progress}}%</div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                {{/ifvalue}}
                            {{/each}}
                            
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">Testing</h4>
                        </div>

                        
                        <div class="p-2">
                            {{#each project.Tasks}}
                                {{#ifvalue status equals= 2}}
                                    <div class = "p-1">
                                        <div class="kanban-card-holder">
                                            <button class="kanban-card task-button bg-testing" data-taskid="{{taskID}}">
                                                <h6 style="color:#333333;">{{name}}</h6>
                                                <p style="color:#333333;">{{timeLogged}}</p>
                                                <div class="progress" style="height: 15px;">
                                                    <div class="progress-bar progress-bar-striped" style="width:{{progress}}%">{{progress}}%</div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                {{/ifvalue}}
                            {{/each}}

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="p-1 d-flex justify-content-center">
                            <h4 style="color:#333333">Done!</h4>
                        </div>
                        
                        <div class="p-2">
                            {{#each project.Tasks}}
                                {{#ifvalue status equals= 3}}
                                    <div class = "p-1">
                                        <div class="kanban-card-holder">
                                            <button class="kanban-card task-button bg-done" data-taskid="{{taskID}}">
                                                <h6 style="color:#333333;">{{name}}</h6>
                                                <p style="color:#333333;">{{timeLogged}}</p>
                                            </button>
                                        </div>
                                    </div>
                                {{/ifvalue}}
                            {{/each}}

                        </div>
                    </div>
                </div>
                {{else}}
                    <div style="display:flex; width: 100%; justify-content: center">
                        <h4>No Tasks Yet!</h4>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

    {{> createtask_modal}}
</div>



{{!-- task modal open this.model --}}