{{> nav}}
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div style="display: flex; justify-content: center;">
            <div class="projects-container col-12 col-md-10">
                <!-- Teams -->
                <div class="col-12 mt-4 mb-4 px-4" style="display: flex; justify-content: right;">
                    <a href="#createProject" type="button" class="btn btn-primary">New Project</a>
                    <input type="text" class="form-control" id="projectSearch" placeholder="Search projects..." style="margin-left: 20px; width: 25%">
                </div>

                <div class="col-2 group-section" align="center">
                    <div style="display: flex; margin-bottom: 10px; justify-content: space-around">
                        <h4>Groups</h4>
                        <button type="button" class="btn btn-primary" id="addGroup" style="margin-left: 10px">New</button>
                    </div>
                    <input type="text" placeholder="Search groups..." id="groupSearch" class="form-control">
                    <div align="left">
                        {{#each groups}}
                            <div class="group-part" data-name="{{name}}">
                                <h6 style="margin-top: 10px">
                                    {{name}} 
                                    <span class="material-icons edit-group btn" data-groupid="{{groupID}}">edit</span>
                                </h6>
                                {{#each users}}
                                    {{#lt @index 3}}
                                        {{#ifvalue @index equals= 2}}
                                            <button class="btn" style="font-size: 24px">...</button>
                                        {{else}}
                                            <button type="button" class="btn group-user-button">{{initials}}</button>
                                        {{/ifvalue}}
                                    {{/lt}}
                                    
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                    
                </div>
                
                <!-- Projects -->
                <div class="col-10 px-4">
                    {{#each projects}}
                        <div class="mb-4 project-section" data-project="{{projectID}}">
                            <div class="col-12">
                                <div class="project-row">
                                    <h4 class="project-name">{{name}}</h4>
                                    <span class="btn project-star material-icons" data-projectname="{{name}}">
                                        {{#ifvalue starred equals= 1}}star{{else}}star_border{{/ifvalue}}
                                    </span>
                                </div>
                                
                                <p class="project-desc">{{description}}</p>

                                <div class="project-row">
                                    <div>
                                        {{#each @root.groups}}
                                            {{#each ../groups}}
                                                {{#ifvalue ../groupID equals= @this}}
                                                    <button type="button" class="btn group-button m-1">{{../name}}</button>
                                                {{/ifvalue}}
                                            {{/each}}
                                        {{/each}}
                                    </div>

                                    <button type="button" class="btn btn-primary edit-project" data-index="{{@index}}">Edit</button>
                                    
                                </div>
                            </div>
                            
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

    <!-- Create Group -->
    <div class="modal fade" id="createGroupModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Group</h4>
                    <button type="button" class="btn-close" data-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="col-6">
                            <div class="form-group">
                                <label for="createGroupName">Group Name:</label>
                                <input type="text" class="form-control" id="createGroupName" placeholder="Name...">
                            </div>

                            <div class="form-group mt-4">
                                <label>Select User:</label>
                                <input type="search" list="createGroup-users" id="createGroup-selectUser">
                                <datalist id="createGroup-users">
                                    {{#each users}}
                                        <option value="{{name}}">
                                    {{/each}}
                                </datalist>

                                <button type="button" class="btn btn-outline-primary m-2" id="createGroupAddSelectedUser">Add User</button>
                            </div>

                            <div class="selected-user-div">
                                <p style="display: none; color: red" id="createGroup-noUserError">Please add at least one user</p>
                                <table class="table table-hover" style="display: table; width: 100%">
                                    <thead style="display: block;">
                                        <tr>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="selected-user-tbody" id="creategroup-select-user-tbody">
                                    </tbody>
                                </table>
                            </div>

                        </form>        
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmCreateGroup">Create Group</button>
                    <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Edit Group -->
    <div class="modal fade" id="editGroupModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Group</h4>
                    <button type="button" class="btn-close" data-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="col-6">
                            <div class="form-group">
                                <label for="editGroupName">Group Name:</label>
                                <input type="text" class="form-control" id="editGroupName" placeholder="Name..." value="{{selectedGroup.name}}">
                            </div>

                            <div class="form-group mt-4">
                                <label>Select User:</label>
                                <input type="search" list="editGroup-users" id="editGroup-selectUser">
                                <datalist id="editGroup-users">
                                    {{#each users}}
                                        <option value="{{name}}">
                                    {{/each}}
                                </datalist>

                                <button type="button" class="btn btn-outline-primary m-2" id="editGroupAddSelectedUser">Add User</button>
                            </div>

                            <div class="selected-user-div">
                                <p style="display: none; color: red" id="editGroup-noUserError">Please add at least one user</p>
                                <table class="table table-hover" style="display: table; width: 100%">
                                    <thead style="display: block;">
                                        <tr>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="selected-user-tbody" id="editgroup-selected-user-tbody">
                                        {{#each selectedGroup.users}}
                                            <tr id="editGroupUserRow-{{initials}}1" class="editgroup-user-row">
                                                <td style="width: 90%">{{name}}</td>
                                                <td><button type="button" class="btn edit-group-delete-user"><span class="material-icons" style="color: red">delete</span></button></td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                        </form>        
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmEditGroup">Confirm Changes</button>
                    <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

</div>