{{> projectnav}}
<div class="page-content-wrapper">
    <div class="container-fluid">            
        
        <div style="display: flex; align-items: center;">
                    <h1>{{task.name}}</h1>
                    <h5 class="px-2">
                        {{#ifvalue task.status equals= 0}}
                            <span class="badge btn bg-secondary task-status-badge">Not Started</span>
                        {{else ifvalue task.status equals= 1}}
                            <span class="badge btn bg-warning task-status-badge">Inprogress</span>
                        {{else ifvalue task.status equals= 2}}
                            <span class="badge btn bg-primary task-status-badge">Testing</span>
                        {{else ifvalue task.status equals= 3}}
                            <span class="badge btn bg-success task-status-badge">Done</span>
                        {{/ifvalue}}
                        
                    </h5>
        </div>

        <div style="display: flex; align-items: center; max-width : 50%">
            <h5 style="margin-right: 5px">Progress:</h5>
            <div class="progress" style="width:100%">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{task.progress}}%;" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100">{{task.progress}}%</div>
            </div>

        </div>

        <div class="card">
        <div style="display: flex; padding: 15px">
            <div class="col-6" style="padding-right: 20px">

                <br>
                <h4>Description</h4>
                <div class="card" style="width: 100%; overflow-y:scroll; max-height: 200px">
                    <div class="card-body">
                        <p class="card-text">{{task.description}}</p>
                    </div>
                </div>

                <br>

                <div>
                    <div style="display: flex;">
                        <h4>Assigned Users:</h4>
                        <button type="button" class="btn" id="openAssignModal"><span class="material-icons">add_circle_outline</span></button>
                    </div>
                    <div class="card" style="width: 100%; overflow-y:scroll; max-height: 200px">
                        <div class="card-body">
                            <ul style="float: none !important">
                                {{#each task.assignedUsers}}
                                    <li>{{name}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
               
                <br>
                <div>
                    <h4>Time Logged on Task:</h4>
                    <p>{{task.timeLogged}}</p>
                    <h4>Projected finish date:</h4>
                    <p>{{task.finishDate}}</p>
                </div>

            </div>
            <div class="col-6">
                <div>
                    <br>
                    <h4>Problems</h4>
                    <div class="card" style="overflow-y:scroll; max-height: 150px">
                    <ul class="list-group list-group-flush">
                        {{#each task.problems}}
                            <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                    </div>
                </div>

                <div>
                    <br>
                    <h4>Task Comment Log</h4>
                    <div class="card" style="overflow-y:scroll; max-height: 300px">
                    <ul class="list-group list-group-flush" id="commentLog">
                        {{#each task.commentLog}}
                            <li class="list-group-item">{{user}}: {{comment}}</li>
                        {{/each}}
                    </ul>
                    </div>
                    <form id="comment-form">
                        <div class="form-group" style="display: flex">
                            <input class="form-control" type="text" placeholder="Send Comment..." id="comment"></textarea>
                            <button type="button" class="btn" id="sendComment"><span class="material-icons">send</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>    
    </div>

    <div class="modal fade" id="assignModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                <div class="container-fluid">
                    <h4>Assign To Task</h4>
                </div>
                <button type="button" class="btn-close" data-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                <div class="container-fluid">
                    <label>Assign Users:</label>
                    <div style="display: flex;">
                        <form id="addUserForm">
                            <div class="form-group mt-0" id="addUser">
                                <input type="search" list="assignUsers" id="assignUsers-selectUser">
                                <datalist id="assignUsers">
                                    {{#each projectUsers}}
                                        <option value="{{name}}">
                                    {{/each}}
                                </datalist>
                            </div>
                        </form>
                        <button type="button" class="btn" id="assignUserButton"><span class="material-icons">add_circle_outline</span></button>
                    </div>

                    <p style="display: none; color: red" id="assignUserError">User already assigned to the task</p>

                    <div>
                        <table class="table table-hover" style="display table; width: 100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="assign-select-user-tbody">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>

                <div class="modal-footer">
                    <button id="confirmUsers" type="button" class="btn btn-secondary">Add New Users</button>
                </div>
            </div>
        </div>
    </div>

</div>